div{
    text-align:center;
}
table{
    align-content: center;
    padding:15px;
    width:40%;
    
}
td{
    padding:20px;
}
th{
    padding:20px;
}
button{
    width:120px;
    height:50px;
    color:Blue;
}
