table {
    border: 1px solid black;
    padding: 5px;
    width: 100%;
  }
  
  td,
  tr,
  th {
    border-bottom: 0.75px solid black;
    border-right: 0.75px solid black;
    border-left: 0.75px solid black;
  }
  
  td {
    text-align: left;
  }
  
  td:nth-child(2) {
    text-align: left;
  }
  
  tfoot tr,
  tfoot th {
    border-bottom: 0px;
  }
  